:root {
    --branco: #e3f2fd;
    --preto: #141414;
}

body {
    background-color: var(--preto);
    padding: 0;
    margin: 0;
}

/*---------------------------------------------------------------*/

.meuNome {
    font-size: 20px;
    padding: 0;
    transition-duration: .3s;
}

.meuNome:hover {
    font-size: 21px;
}
/*---------------------------------------------------------------*/
header{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--branco);
}

header h2{
    font-size: 16px;
}

/*---------------------------------------------------------------*/
.quem_sou{
    color: var(--branco);
}

.col-lg-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.col-lg-8 {
    display: flex;
    align-items: center;
}

/*---------------------------------------------------------------*/
.habilidades {
    margin: 80px;
}

.habilidades h1 {
    color: var(--branco);
    padding-bottom: 10px;
}

.habilidades h2 {
    font-size: 40px;
}

.habilidades p{
    font-size: 20px;
}

/*---------------------------------------------------------------*/
.hobbies{
    padding-bottom: 40px;
}

.hobbies h1 {
    color: var(--branco);
    padding-bottom: 10px;
}

.hobbies p{
    width: 310px;
    background-color: var(--branco);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
}

.image{
    width: 310px;
    height: 180px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid var(--branco)
}

.image-sport{
    width: 310px;
    height: 200px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid var(--branco)
}

/*---------------------------------------------------------------*/
footer {
    background-color: var(--branco);
    padding: 3px 0;
    margin: 0;
}

footer p{
    margin: 0;
    font-size: 16px;
}


@media screen and (max-width: 660px){
    .habilidades h2{
        font-size: 25px;
    }

    .habilidades p{
        font-size: 14px;
    }
}

@media screen and (max-width: 520px){
    .habilidades h2{
        font-size: 16px;
    }

    .habilidades p{
        font-size: 10px;
    }
}